h1 {
    color: #BADEF9;
    font-size: 32px;
}


h2 {
    color: #BADEF9;
    font-size: 22px;
}

input {
    background: #fff;
    margin: 10px 0;
    padding: 10px 5px;
}

.wrapper-login {
    background: #0E4C75;
}

.login-box {
    background: #3282B5;
    width: 400px;
    height: 300px;
}

.btn-ingresar {
    margin-top: 10px;
    background: #BBE1F8;
}