<div class="wrapper-login h-100 w-100">
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <h1 class="text-center fw-bold">Vigilab <br /> Chikungunya-Dengue-Zika</h1>
        <div class="card login-box" style="margin: 0 auto;">
            <div class="p-3">
                <h2 class="text-center">Bienvenido</h2>
                <div class="d-flex flex-column">
                    <input class="card" type="text" placeholder="Usuario" />
                    <input class="card" type="password" placeholder="Contraseña" />
                    <button class="btn btn-ingresar" (click)="acceder()">Acceder</button>
                </div>
            </div>
        </div>
    </div>
</div>