<div class="d-flex flex-row w-100 h-100">
    <div class="wrapper-menu h-100">
        <p class="mt-2 text-white text-center fw-bold">Menu</p>
        <nav>
            <ul class="d-flex flex-column">
                <li routerLinkActive="active">
                    <a class="d-flex flex-column" [routerLink]="'/dashboard'">
                        <fa-icon class="icon" [icon]="icon_home"></fa-icon>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a class="d-flex flex-column" [routerLink]="'/registrar'">
                        <fa-icon class="icon" [icon]="icon_register"></fa-icon>
                        <span>Ficha DCZ</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="off">
            <a class="d-flex flex-column" [routerLink]="'/login'">
                <fa-icon class="icon text-danger" [icon]="icon_off"></fa-icon>
                <span class="text-white">Cerrar</span>
            </a>
        </div>
    </div>
    <div class="wrapper-content bg-light h-100">
        <router-outlet></router-outlet>
    </div>
</div>