.wrapper {
    width: 100% !important;
    height: 100% !important;
    overflow-x: hidden;
    overflow-y: auto !important;
    color: #0E4C75;
}

::ng-deep .mat-horizontal-stepper-header-container {
    flex-wrap: wrap !important;
}

.checkbox-dcz {

    p {
        padding-bottom: 0;
        padding-right: 10px;
        width: 100px;
    }

    input[type=checkbox] {
        width: 25px;
        height: 25px;
    }
}

.txt-number-dcz {
    p {
        padding: 0 0 0 10px;
        margin: 0;
    }

    input[type=number] {
        text-align: center;
        margin: 0 5px;
        height: 30px;
        width: 60px;
    }
}